<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>签到管理</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style type="text/css">

        body {
            padding-top: 4.5rem;
            margin-bottom: 10px;
        }

        textarea {
            border: none;
            width: 100%;
            resize: none
        }


    </style>
</head>
<body class="text-center">
<main role="main" class="container">

    <div id="app" style="text-align: center">
        <h4>教师【{{teacher}}】发起的签到</h4>
    <p>{{students_new_item}}</p>

        <table class="table table-bordered table-condensed table-hover" style="margin-top: 20px">
            <tr>
                <th>ID</th>
                <th>描述</th>
                <th>操作</th>
            </tr>
            <tr v-for="(sign,index) in allsign">
                <td>{{sign.serial}}</td>
                <td><textarea v-model="sign.description"></textarea></td>
                <td style="width: 400px">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal_qrcode"
                            @click="view_qrcode(sign.serial)">二维码
                    </button>
                    <button class="btn btn-primary" @click="view_detail(sign.serial)">详细信息</button>
                    <button class="btn btn-primary" @click="update_sign(index)">保存修改</button>
                    <button class="btn btn-danger" @click="delete_sign(sign.serial)">删除</button>
                </td>
            </tr>
        </table>


        <div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">


                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">发起签到</h4>
                    </div>

                    <div id="new_item" class="modal-body" style="text-align: left">

                        请填写签到描述：
                        <input type="text" v-model="description_new_item" required><br><br>
                        请上传学生名单：
                        <input type="file" id="upload_file" accept="text/csv">


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary" @click="add_sign">保存</button>
                    </div>


                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_qrcode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel2">请学生们扫描二维码签到</h4>
                    </div>

                    <div class="modal-body">

                        <div id="qrcode"></div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" data-toggle="modal" data-target="#modal_add">发起新的签到</button>

    </div>


</main>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/PapaParse/4.6.3/papaparse.js"></script>
<script th:src="@{/qrcode.js}"></script>

</body>
</html>

<script type="text/javascript">


    let qrcode;

    new Vue({
        el: '#app',
        data: {
            teacher: '',
            allsign: null,
            description_new_item: '',
            students_new_item: null
            // students: [
            //     {
            //         "stuID": "2141201",
            //         "stuName": "zhangsan"
            //     }, {
            //         "stuID": "2141202",
            //         "stuName": "lisi"
            //     }
            // ],
        },
        methods: {

            view_qrcode: (serial) => {
                if (qrcode == null) {
                    qrcode = new QRCode(document.getElementById("qrcode"), 'https://api.ai-developer.net/qrcode/signin?serial=' + serial);
                } else {
                    qrcode.makeCode('https://api.ai-developer.net/qrcode/signin?serial=' + serial)
                }
            },

            view_detail: function (serial) {

            }
            ,
            getAllSign: function () {
                axios.get('/qrcode/sign', {
                    params: {
                        teacher: this.teacher
                    }
                }).then((result) => {
                    if (result.data.code === 0) {
                        this.allsign = result.data.data.qrCodes
                    } else if (result.data.code === 20004) {
                        console.log("没有发起过签到，试试发起一个新的签到吧");
                    }
                }).catch(function (reason) {
                    alert("查询失败，网络异常");
                    console.log(reason);
                });
            }
            ,
            add_sign() {
                if (checknull()) {
                    let file = document.getElementById("upload_file").files[0];
                    Papa.parse(file, {
                        header: true,
                        complete: (results) => {
                            console.log(results.data);
                            this.students_new_item = results.data
                        },
                        error: function (e) {
                            console.log(e)
                        }
                    });

                    axios.post('/qrcode/sign', {
                        qrCode: {
                            description: this.description_new_item,
                            teacher: this.teacher
                        },
                        students: this.students_new_item

                    }).then(function () {
                        alert("保存成功");
                        window.location.reload();
                    }).catch(function (reason) {
                        console.log(reason);
                    });
                }
            }
            ,
            update_sign(index) {
                console.log("点击了保存修改" + index);
                axios.put('/qrcode/sign', this.allsign[index])
                    .then(function () {
                        alert("保存成功");
                        window.location.reload();
                    })
                    .catch(function (reason) {
                        console.log(reason);
                    })
            },
            delete_sign(serial) {
                if (window.confirm("确认删除？")) {
                    console.log("点击了删除" + serial);
                    axios.delete('/qrcode/sign', {params: {serial: serial}})
                        .then(function () {
                            alert("删除成功");
                            window.location.reload();
                        })
                }

            }

        }
        ,
        created: function () {
            console.log(this.teacher)
            this.teacher = getCookie('teacher')
            this.getAllSign()
        }
    })


    function checknull() {
        let demo_num = "0";
        let input_attr = [];
        $("#new_item").find("input").each(function () {
            if (!$(this).val()) {
                demo_num++;
                input_attr = input_attr.concat($(this).attr("name"));
            }
        });
        if (demo_num > 0) {
            alert("请填写完整！");
            return false;
        } else {
            return true;
        }
    }

    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
</script>