<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签到管理</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style type="text/css">

        body {
            padding-top: 4.5rem;
            margin-bottom: 10px;
        }

        textarea {
            border: none;
            width: 100%;
            resize: none
        }


    </style>
</head>
<body class="text-center">
<main role="main" class="container">

    <div id="app" style="text-align: center">
        <h2>{{teacher}}发起的签到</h2>

        <table class="table table-bordered table-condensed table-hover">
            <tr>
                <th>serial</th>
                <th>description</th>
                <th>qrcode</th>
            </tr>
            <tr v-for="(sign,index) in allsign">
                <td>{{sign.serial}}</td>
                <td><textarea v-model="sign.description"></textarea></td>
                <td style="width: 200px">
                    <button class="btn btn-primary" @click="update_sign(index)">保存修改</button>
                    <button class="btn btn-danger" @click="delete_sign(content.wxKey)">删除</button>
                </td>
            </tr>
        </table>


        <div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">


                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">发起签到</h4>
                    </div>

                    <div id="new_item" class="modal-body">

                        description：
                        <input type="text" v-model="description_new_item" required><br><br>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary" @click="add_content">保存</button>
                    </div>


                </div>
            </div>
        </div>

        <button class="btn btn-primary" data-toggle="modal" data-target="#modal_add">发起新的签到</button>

    </div>


</main>

<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>
</html>

<script type="text/javascript">


    new Vue({
        el: '#app',
        data: {
            teacher: '',
            allsign: null,
            description_new_item: ''
        },
        methods: {

            getAllSign: function () {
                axios.get('/qrcode/all', {
                    params: {
                        teacher: this.teacher
                    }
                }).then((result) => {
                    if (result.data.code === 0) {
                        this.allsign = result.data.data.qrCodes
                    } else if (result.data.code === 20004) {
                        console.log("没有发起过签到，试试发起一个新的签到吧");
                    }
                }).catch(function (reason) {
                    alert("查询失败，网络异常");
                    console.log(reason);
                });
            },
            add_content() {
                if (checknull()) {
                    axios.post('/backend/content', {
                        description: this.description_new_item,
                    })
                        .then(function () {
                            alert("保存成功");
                            window.location.reload();
                        })
                        .catch(function (reason) {
                            console.log(reason);
                        });
                }
            },
            update_sign(index) {
                console.log("点击了保存修改" + index);
                axios.put('/backend/content', this.contents[index])
                    .then(function () {
                        alert("保存成功");
                        window.location.reload();
                    })
                    .catch(function (reason) {
                        console.log(reason);
                    })
            },
            delete_sign(serial) {
                if (window.confirm("确认删除？")) {
                    console.log("点击了删除" + serial);
                    axios.delete('/backend/content', {params: {serial: serial}})
                        .then(function () {
                            alert("删除成功");
                            window.location.reload();
                        })
                }

            }

        },
        created: function () {
            console.log(this.teacher)
            this.teacher = getCookie('teacher')
            this.getAllSign()
        }
    })


    function checknull() {
        let demo_num = "0";
        let input_attr = [];
        $("#new_item").find("input").each(function () {
            if (!$(this).val()) {
                demo_num++;
                input_attr = input_attr.concat($(this).attr("name"));
            }
        });
        if (demo_num > 0) {
            alert("请填写完整！");
            return false;
        } else {
            return true;
        }
    }

    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
</script>